/* CSS Document */



.bkgdBlue { background-color: $blue;}
.bkgdGreen { background-color: $green;}
.bkgdDkGreen { background-color: $dkGreen;}
.bkgdLtGray { background-color: $ltGray;}
.bkgdMdGray { background-color: $mdGray;}
.bkgdDkGray { background-color: $dkGray;}
.bkgdYellow { background-color: $yellow;}

.bkgdMaroon { background-color: $maroon;}