.cd-main-header {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    background: $white;
    z-index: 3;
    padding: 0 .5em
}

.cd-logo {
    position: absolute;
    top: 15px;
	z-index: 12288;
}

.cd-logo #standard-logo {
    display: none;
    width: 300px;
    height: 84px;
}

.cd-logo #mini-logo {
    display: block;
    width: 76px;
    height: 50px
}
/*
.main-logo {
    width: 300px;
    height: 84px;
    display: block
}
*/
.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: 3px;
    right: 3em;
    color: $dkGray;
}

.cd-header-buttons li {
    display: inline-block
}

.cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3
}

.cd-nav-trigger {
    display: none
}

.cd-nav-trigger span,.cd-nav-trigger span::before,.cd-nav-trigger span::after {
    position: absolute;
    display: inline-block;
    display: none;
    height: 3px;
    width: 24px;
    background: #2e3233
}

.cd-nav-trigger span {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
    -webkit-transition: background 0.3s 0.3s;
    -moz-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s
}

.cd-nav-trigger span::before,.cd-nav-trigger span::after {
    content: '';
    right: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    -moz-transition: -moz-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s
}

.cd-nav-trigger span::before {
    top: -6px
}

.cd-nav-trigger span::after {
    top: 6px
}

.cd-nav-trigger.nav-is-visible span {
    background: rgba(46,50,51,0)
}

.cd-nav-trigger.nav-is-visible span::before,.cd-nav-trigger.nav-is-visible span::after {
    background: #2e3233
}

.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg)
}

.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg)
}




header {
    transition: all 0.4s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4444;
    padding: 0 0 1em;
    background: #00617F;
    height: 80px;
    opacity: .97
}


header.sticky {
    transition: all 0.4s ease;
    font-size: 1em;
    opacity: .97;
    padding-top: 0;
    padding-bottom: 5px;
    position: fixed;
    height: 80px;
    z-index: 9000;
	border-bottom: 5px solid $blue;
}

header.sticky .white-bar {
    display: none
}


.header-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto
}

.white-bar {
    display: none
}


h3 {
    font-family: $oswaldFont;
}



p {
    color: rgb(102,102,102)
}

p.sm-text {
    font-size: .7em
}

.dark-bar {
    width: 100%;
    height: 1.5em;
    background-color: $dkGray
}


#main-nav {
 margin:0;
 width:auto;
 padding:0;
 line-height:1;
 display:block;
 position:relative;
 font-family:'Oswald',sans-serif;
 top:15px
}
#main-nav ul {
 list-style:none;
 margin:0;
 padding:0;
 display:inline-block;
 float:right
}
header.sticky.staff #main-nav {
 top:10px
}
#main-nav ul li ul {
 border:1px solid #444
}
#main-nav ul:after,#main-nav:after {
 content:" ";
 display:block;
 font-size:0;
 height:0;
 clear:both;
 visibility:hidden
}
#main-nav ul li {
 margin:0;
 padding:0;
 display:block;
 position:relative
}
#main-nav ul li a {
 text-decoration:none;
 display:block;
 margin:0;
 -webkit-transition:color .2s ease;
 -moz-transition:color .2s ease;
 -ms-transition:color .2s ease;
 -o-transition:color .2s ease;
 transition:color .2s ease;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
#main-nav ul li ul {
 position:absolute;
 left:-9999px;
 top:auto
}
#main-nav ul li ul li {
 max-height:0;
 position:absolute;
 -webkit-transition:max-height 0.4s ease-out;
 -moz-transition:max-height 0.4s ease-out;
 -ms-transition:max-height 0.4s ease-out;
 -o-transition:max-height 0.4s ease-out;
 transition:max-height 0.4s ease-out;
 background:#fff
}
#main-nav ul li ul li.has-children:after {
 display:none;
 position:absolute;
 content:"";
 height:10px;
 width:10px;
 border-radius:5px;
 background:#000;
 z-index:1;
 top:13px;
 right:15px
}
#main-nav.align-right ul li ul li.has-children:after {
 right:auto;
 left:15px
}
#main-nav ul li ul li.has-children:before {
 display:block;
 position:absolute;
 content:"";
 height:0;
 width:0;
 border:3px solid transparent;
 border-left-color:#fff;
 z-index:2;
 top:15px;
 right:15px
}
#main-nav.align-right ul li ul li.has-children:before {
 right:auto;
 left:15px;
 border-left-color:transparent;
 border-right-color:#fff
}
#main-nav ul li ul li a {
 font-size:14px;
 font-weight:400;
 text-transform:none;
 color:#055875;
 display:block;
 width:200px;
 padding:11px 10px 11px 20px;
 line-height:125%
}
#main-nav ul li ul li:hover>a,#main-nav ul li ul li.active>a {
 color:#055875
}
#main-nav ul li ul li:hover:after,#main-nav ul li ul li.active:after {
 background:#055875
}
#main-nav ul li ul li:hover>ul {
 left:100%;
 top:0
}
#main-nav ul li ul li:hover>ul>li {
 max-height:92px;
 position:relative
}
#main-nav>ul>li {
 float:left
}
#main-nav.align-center>ul>li {
 float:none;
 display:inline-block
}
#main-nav.align-center>ul {
 text-align:center
}
#main-nav.align-center ul ul {
 text-align:left
}
#main-nav.align-right>ul {
 float:right
}
#main-nav.align-right>ul>li:hover>ul {
 left:auto;
 right:0
}
#main-nav.align-right ul ul li:hover>ul {
 right:100%;
 left:auto
}
#main-nav.align-right ul ul li a {
 text-align:right
}
#main-nav>ul>li:after {
 content:"";
 display:block;
 position:absolute;
 width:100%;
 height:0;
 top:0;
 z-index:0;
 background:#fff;
 -webkit-transition:height .2s;
 -moz-transition:height .2s;
 -ms-transition:height .2s;
 -o-transition:height .2s;
 transition:height .2s
}

#main-nav>ul>li.has-children>a:after {
 display:none;
 content:"";
 background:#fff;
 height:12px;
 width:12px;
 position:absolute;
 border-radius:13px;
 right:14px;
 top:16px
}
#main-nav>ul>li.has-children>a:before {
 display:none;
 content:"";
 border:4px solid transparent;
 border-top-color:#055875;
 z-index:2;
 height:0;
 width:0;
 position:absolute;
 right:16px;
 top:21px
}
#main-nav>ul>li>a {
 color:#000;
 padding:15px 20px;
 font-weight:700;
 text-transform:uppercase;
 font-size:14px;
 z-index:2;
 position:relative
}
#main-nav>ul>li:hover:after,#main-nav>ul>li.active:after {
 height:100%
}
#main-nav>ul>li:hover>a,#main-nav>ul>li.active>a {
 color:#000
}
#main-nav>ul>li:hover>a:after,#main-nav>ul>li.active>a:after {
 background:#055875
}
#main-nav>ul>li:hover>a:before,#main-nav>ul>li.active>a:before {
 border-top-color:#fff
}
#main-nav>ul>li:hover>ul {
 left:0
}
#main-nav>ul>li:hover>ul>li {
 max-height:72px;
 position:relative
}
#main-nav #menu-button {
 display:none
}
#main-nav>ul>li>a {
 display:block
}
#main-nav>ul>li {
 width:auto
}
#main-nav>ul>li>ul {
 width:202px;
 display:block
}
#main-nav>ul>li>ul>li {
 width:200px;
 display:block
}
#main-nav .left200 {
 left:-202px!important;
 z-index:101
}
#main-nav .left75 {
 left:-75px!important;
 z-index:100
}
@media all and (max-width:1024px),only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),only screen and (min-device-pixel-ratio:2) and (max-width:1024px),only screen and (min-resolution:192dpi) and (max-width:1024px),only screen and (min-resolution:2dppx) and (max-width:1024px) {
 #main-nav>ul {
  max-height:0;
  overflow:hidden;
  -webkit-transition:max-height 0.35s ease-out;
  -moz-transition:max-height 0.35s ease-out;
  -ms-transition:max-height 0.35s ease-out;
  -o-transition:max-height 0.35s ease-out;
  transition:max-height 0.35s ease-out
 }
 #main-nav>ul>li>ul {
  width:100%;
  display:block;
  background:#e8e8e8;
  border:0
 }
 #main-nav>ul>li>ul>li>ul {
  width:100%;
  display:block;
  background:#f6f6f6;
  border:0
 }
 #main-nav.align-right ul li a {
  text-align:left
 }
 #main-nav>ul>li>ul>li {
  width:100%;
  display:block
 }
 #main-nav.align-right ul ul li a {
  text-align:left
	  
	}

	
 #main-nav>ul>li>ul>li>a {
  width:100%;
  display:block
 }
 #main-nav ul li ul li a {
  width:100%
 }
 #main-nav.align-center>ul {
  text-align:left
 }
 #main-nav.align-center>ul>li {
  display:block
 }
 #main-nav>ul.open {
  max-height:1000px;
  padding-bottom:1em
 }
 #main-nav ul {
  width:100%
 }
 #main-nav ul>li {
  float:none;
  width:100%;
  background:#59b748;
  margin:0 0 10px
 }
 #main-nav ul li a {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:100%;
  padding:12px 20px;
  text-transform:uppercase
 }
 #main-nav ul li a:hover {
  color:#000
 }
 #main-nav ul>li:after {
  display:none
 }
 #main-nav ul li.has-children>a:after,#main-nav ul li.has-children>a:before,#main-nav ul li ul li.has-children:after,#main-nav ul li ul li.has-children:before {
  display:none
 }
 #main-nav>ul>li {
  padding-top:0!important
 }
 #main-nav>ul>li.has-children>a:before,#main-nav>ul>li.has-children>a:after {
  display:none!important
 }
 #main-nav ul li ul,#main-nav ul li ul li ul,#main-nav ul li ul li:hover>ul,#main-nav.align-right ul li ul,#main-nav.align-right ul li ul li ul,#main-nav.align-right ul li ul li:hover>ul {
  left:0;
  position:relative;
  right:auto;
  z-index:1000
 }
 #main-nav ul li ul li,#main-nav ul li:hover>ul>li {
  max-height:999px;
  position:relative;
  background:none
 }
 #main-nav ul li ul li a {
  padding:8px 20px 8px 35px;
  color:#000;
  text-transform:uppercase
 }
 #main-nav ul li ul ul li a {
  padding:8px 20px 8px 50px
 }
 #main-nav ul li ul li:hover>a {
  color:#000
 }
 #main-nav ul.is-hidden {
  width:100%;
  display:none
 }
 #main-nav #menu-button {
  display:block;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:55px;
  padding:22px 20px;
  text-transform:uppercase;
  font-weight:700;
  font-size:14px;
  color:#000;
  cursor:pointer;
  float:right
 }
 #main-nav #menu-button:after {
  display:none;
  content:'';
  position:absolute;
  height:3px;
  width:22px;
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  right:20px;
  top:16px
 }
 #main-nav #menu-button:before {
  display:none;
  content:'';
  position:absolute;
  height:3px;
  width:22px;
  border-top:2px solid #000;
  right:20px;
  top:26px
 }
 #main-nav ul li.has-children>a::before,#main-nav ul li.has-children>a::after {
  right:20px;
  -webkit-transform-origin:9px 50%;
  -moz-transform-origin:9px 50%;
  -ms-transform-origin:9px 50%;
  -o-transform-origin:9px 50%;
  transform-origin:9px 50%;
  content:'';
  position:absolute;
  top:50%;
  margin-top:-1px;
  display:inline-block;
  height:2px;
  width:10px;
  background:#464c4e;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden
 }
 #main-nav ul li.has-children a::before {
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
 }
 #main-nav ul li.has-children a::after {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg)
 }
 #main-nav>.has-children.expanded>a::before,#main-nav>.has-children.expanded>a::after {
  width:14px
 }
 #main-nav>.has-children.expanded>a::before {
  -webkit-transform:translateX(5px) rotate(-45deg);
  -moz-transform:translateX(5px) rotate(-45deg);
  -ms-transform:translateX(5px) rotate(-45deg);
  -o-transform:translateX(5px) rotate(-45deg);
  transform:translateX(5px) rotate(-45deg)
 }
 #main-nav>.has-children.expanded>a::after {
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
 }
 .main-nav>li:first-child {
  display:block!important
 }
}

li.menu-item-has-children {
    background-image: url(/wp-content/themes/morainepark/img/plus.png)!important;
    background-position: 95% 65px!important;
    background-repeat: no-repeat!important
}

li.menu-item-has-children.expanded a {
    padding-bottom: 55px
}

li.menu-item-has-children.expanded ul li a {
    padding-bottom: 1em
}

li.menu-item-has-children.expanded ul li.menu-item-has-children.expanded a {
    padding-bottom: 58px
}

li.menu-item-has-children.expanded ul li.menu-item-has-children.expanded ul li a {
    padding-bottom: 1em
}

li.menu-item-has-children.expanded ul li.menu-item-has-children.expanded ul li.menu-item-has-children.expanded a {
    padding-bottom: 58px
}

li.menu-item-has-children.expanded ul li.menu-item-has-children.expanded ul li.menu-item-has-children.expanded ul li a {
    padding-bottom: 1em
}

li.menu-item-has-children.expanded {
    background-image: url(/wp-content/themes/morainepark/img/minus.png)!important;
    background-position: 95% 65px!important;
    background-repeat: no-repeat!important;
    padding: 1.5em 0 0 0!important
}

.is-hidden {
    display: none
}

#secondary-nav {
    float: none;
    clear: both;
    background: #fff;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    font-family: $oswaldFont;
}

#secondary-nav div {
    float: left;
    width: 33%
}

#secondary-nav div ul {
    padding: 2em;
    list-style: none;
    border-right: 8px dotted #EEE;
    min-height: 360px
}

#secondary-nav div ul li {
    font-size: 13px;
    padding: .25em
}

#secondary-nav li.expanded {
    background-color: #f0f0f0
}

#secondary-nav #secondary-nav-three ul {
    border-right: none!important
}

#secondary-nav-overlay {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 2.5em;
    left: 0;
    cursor: pointer;
    background-color: rgba(72,72,72,.2);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s 0s,visibility 0s 0.3s,-webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s,visibility 0s 0.3s,-moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s,visibility 0s 0.3s,transform 0.3s 0s
}

#secondary-nav-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s,visibility 0s 0s,-webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s,visibility 0s 0s,-moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s,visibility 0s 0s,transform 0.3s 0s
}


header.sticky .cd-primary-nav {
 margin-top:5px;
 margin-bottom:1px
}

.cf:after {
 content:' ';
 display:block;
 clear:both
}


@media only screen and (min-width: 904px) {
    .main-header .main-nav a {
        font-size:1em
    }
}

@media only screen and (min-width: 960px) {
 .cd-logo #standard-logo {
  display:none
 }
 .cd-logo #mini-logo {
  display:block
 }
	

    #secondary-nav ul li a {
        font-size: 16px;
        color: #4A7F06
    }    

    .main-logo {
        width:76px;
        height: 50px;
        display: block
    }

    .cd-main-header::after {
        clear: both;
        content: "";
        display: table
    }



    .cd-header-buttons {
        top: 18px;
        right: 4em
    }
}
@media only screen and (min-width: 1004px) {
	
.main-logo {
  width:76px;
  height:50px;
  display:block
 }
 .cd-main-header::after {
  clear:both;
  content:"";
  display:table 
 }
 .cd-logo #standard-logo {
  display:none
 }
 .cd-logo #mini-logo {
  display:block 
 }
 .cd-header-buttons {
  top:18px;
  right:4em
 }
}

    .cd-header-buttons {
        display: none
    }

    .cd-nav {
        display: block
    }

    .cd-primary-nav {
        display: block
    }


   .white-bar {
  background:#f0f0f0;
  height:40px;
  width:100%;
  border-bottom:3px solid #5BB84D;
  display:block
 }
 .white-bar .top-nav {
  max-width:1170px;
  margin:0 auto; 
  padding:.65em 0 0 0
 }
 .white-bar .top-nav a {
  float:right;
  font-family:'Oswald';
  padding:0 .5em
 }

    .main-header .main-nav a {
        display: inline;
        padding-bottom: 30px;
        font-size: .85em
    }

 
@media only screen and (min-width: 1170px) {
	.cd-logo {
    top: 0;
}
    .cd-logo #standard-logo {
        display:block;
    }

    .cd-logo #mini-logo {
        display: none;
    }

   
    .main-header .main-nav a {
        font-size: 1.2em
    }
	
}